apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      serviceAccountName: vault
      containers:
        - name: vault
          image: hashicorp/vault:1.15
          args:
            - "server"
            - "-config=/vault/config/vault.hcl"

          env:
            - name: SKIP_SETCAP
              value: "true"

            - name: VAULT_ADDR
              value: "http://127.0.0.1:8201"

          ports:
            - containerPort: 8201

          securityContext:
            runAsUser: 100
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL

          volumeMounts:
            - name: vault-config
              mountPath: /vault/config/vault.hcl
              subPath: vault.hcl
              readOnly: true

            - name: data
              mountPath: /vault/data

      volumes:
        - name: vault-config
          configMap:
            name: vault-config

        - name: data
          persistentVolumeClaim:
            claimName: vault-data
