apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: vault
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      serviceAccountName: vault
      containers:
        - name: vault
          image: hashicorp/vault:1.15
          args:
            - "server"

          env:
            - name: VAULT_ADDR
              value: "http://127.0.0.1:8200"

            - name: VAULT_LOCAL_CONFIG
              value: |
                ui = true
                disable_mlock = true
                api_addr = "http://vault.vault.svc.cluster.local:8200"

                storage "file" {
                  path = "/vault/data"
                }

                listener "tcp" {
                  address = "0.0.0.0:8200"
                  tls_disable = 1
                }

          ports:
            - containerPort: 8200

          securityContext:
            runAsUser: 100
            runAsGroup: 1000
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL

          volumeMounts:
            - name: data
              mountPath: /vault/data

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: vault-data
